[Unit]
Description=ERP Spring Boot Application
After=network.target mysql.service

[Service]
User=pratyy
WorkingDirectory=/srv/erp
ExecStart=/usr/bin/java -jar /srv/erp/app.jar
EnvironmentFile=/srv/erp/.env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
